/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 1 jun 2025, 8:24:15 p. m.
    Author     : maycmont
*/

/* Home View */

#homeView {
    -fx-background-color: #1e1e1e;
}

#searchBar {
    -fx-alignment: center;
}

.search-field {
    -fx-background-radius: 10;
    -fx-background-color: #2a2a2a;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #aaaaaa;
    -fx-padding: 8;
    -fx-border-color: transparent;
    -fx-font-size: 14px;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-cursor: hand;
}

#contactsContainer {
    -fx-padding: 10;
}

.contact-item {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 8px;
    -fx-font-size: 14px;
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 6px;
}

.contact-item:hover {
    -fx-background-color: #3a3a3a;
}

.fab {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-shape: "M0,0 L1,0 L1,1 L0,1 Z"; /* square shape to support round corner */
    -fx-background-radius: 50%;
    -fx-min-width: 48px;
    -fx-min-height: 48px;
    -fx-max-width: 48px;
    -fx-max-height: 48px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 4, 0.5, 0, 1);
}

/* Contact View */

#contactView {
    -fx-background-color: #1e1e1e;
    -fx-padding: 20;
}

#topBar {
    -fx-padding: 10;
}

.profile-image {
    -fx-effect: dropshadow(gaussian, black, 5, 0.5, 0, 0);
}

.contact-name {
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.attribute-row {
    -fx-background-color: #2a2a2a;
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-alignment: center;
}

.attribute-label {
    -fx-text-fill: #bbbbbb;
}

.value-label {
    -fx-text-fill: white;
}
